.row {
    margin-bottom: 5px;
}

.logoTGIF {
    width: 200px;
    height: 200px;
    margin-top: 5px;
}

.logoHomeTGIF{
    width: 600px;
    height: auto;
}

.titulo {
    font-size: 300%;
}

.mail {
    
}

